In [7]:
import pandas as pd
import pyexasol
from dateutil.relativedelta import relativedelta
from datetime import datetime
import re
import os

In [8]:
import json
import re
import requests

In [9]:
import feedparser

In [17]:
response = requests.get("https://api.maerskline.com/track/MNBU0217324?operator=maeu")

In [18]:
json_content = response.json()

In [23]:
dict_maersk = {feature:list() for feature in ['terminal','activity','date','expected']}
for entry in json_content['containers'][0]['locations']:
#    dict_maersk['terminal'].append(entry['terminal'])
#    dict_maersk['activity'].append(entry['terminal']['events'][0])
    dict_maersk['terminal'].append(entry['terminal'])
    dict_maersk['activity'].append(entry['events'][0]['activity'])
    try:
        dict_maersk['date'].append(entry['events'][0]['actual_time'])
    except:
        dict_maersk['date'].append("NA")
    try:
        dict_maersk['expected'].append(entry['events'][0]['expected_time'])
    except:
        dict_maersk['expected'].append("NA")

In [24]:
df = pd.DataFrame(dict_maersk)
df

,terminal,activity,date,expected
0,APMT EMR,GATE-OUT-EMPTY,2022-04-28T17:21:00.000,NA
1,Jawaharlal Nehru NSICT DPW,GATE-IN,2022-05-05T02:44:00.000,2022-05-08T19:30:00.000
2,Algeciras - ML Terminal,DISCHARG,2022-05-22T10:28:00.000,2022-05-22T01:30:00.000
3,Hutchison Ports Delta II,DISCHARG,2022-06-05T15:29:00.000,2022-06-05T11:00:00.000
4,"Montreal Cast Terminal 395, 2425",DISCHARG,NA,2022-06-27T06:00:00.000

In [ ]:
import streamplit as st